/* color scheme

purple-#442059
sage green- #5c8263
light green- #bdcf95
light orange- #e6c1a1
moss green- #8aa65a */

body, html {
    height: 100%;
}
body{
    color: #5c8263;
    height: 100vh;
    /* The image used */
    background-image: url("./assets/portfolio-color-scheme.png");
  
    /* Full height */
    height: 100%;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#opening{
    display: flex;
    justify-content: center;
}
#main{
    text-align: center;
    color:#442059;
    margin: 300px 0 300px 0;
    border: solid 2px #5c8263;
    background-color: #8aa65a85;
    border-radius: 10px;
    width: 300px;
    
}

#about{
    background-color:#442059;
    color: #bdcf95;
    padding: 20px;
    text-align: center;
    
}
#about h2{
    padding-bottom: 20px;
}

.card-body{
    background-color:#8aa65a;
    color: #442059;
}

.card-group img{
    size: cover;
    height: 150px;
}

#contactForm{
    background-color:#442059;
    color: #bdcf95;
    padding: 20px;
}

footer{
    margin-top: 1em;
    bottom: 0;
    align-items: flex-end;
    background-color:#8aa65a;
    padding: 20px;
    margin: 0;
}


  
